body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:linear-gradient(120deg,#667eea,#764ba2,#6b8cff);
background-size:300% 300%;
height:100vh;
}

/* Center container */

.container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* Form box */

.box{
width:380px;
padding:35px;
background:white;
border-radius:14px;
box-shadow:0 15px 35px rgba(0,0,0,0.2);
text-align:center;
transition:0.3s;
}

.box:hover{
transform:translateY(-5px);
}

/* Title */

.box h2{
margin-bottom:5px;
color:#333;
}

/* Subtitle */

.subtitle{
font-size:14px;
color:#777;
margin-bottom:20px;
}

/* Inputs */

.box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ddd;
border-radius:8px;
outline:none;
font-size:14px;
transition:0.3s;
}

.box input:focus{
border-color:#667eea;
box-shadow:0 0 8px rgba(102,126,234,0.4);
}

/* Button */

button{
width:100%;
padding:12px;
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
margin-top:10px;
}

button:hover{
background:#5a67d8;
transform:scale(1.02);
}

/* Text */

.switchText{
margin-top:15px;
font-size:14px;
}

a{
color:#667eea;
text-decoration:none;
font-weight:500;
}

a:hover{
text-decoration:underline;
}

/* Error */

.error{
color:red;
font-size:13px;
margin-top:5px;
}