.taskCard{
background:white;
padding:20px;
margin-bottom:15px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.taskCard h3{
margin:0 0 10px;
font-weight:bold;
}

.taskCard p{
color:#555;
}